/* BASE */
body{
    font-family: 'futura';
}
#brand-logo{
    width: 45px;
}

/* --- INDEX --- */

#form-cont>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-cont>form>input[type=text]{
    width: 75%;
    padding: 10px;
    margin-bottom: 15px;
}

/* --- RESULT PAGE --- */
#result-boxes{
    width: 85%;
    background-color: blue;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    font-family: 'futura';
}

.mugshot>img{
    border-radius: 100%;

}

.full-name{
    color: white;
    font-size: 10px;
}

#inner-details{
    color: white;
    font-size: 7px;
}


.toggle{
    background-color: red;
    text-align: center;
    width: 85%;
    margin-bottom: 25px;
    margin: 0 auto;
    padding: 10px;
}

.details-page{
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#inmate-basic-info>*{
    text-align: center;
}
#inmate-basic-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@font-face {
    font-family: 'futura';
    src: local('futura'), url('/static/fonts/futura.ttf') format("truetype");
}

/* BLUE : 0096D6 */